footer
  max-width 1024px
  margin 0px auto
  padding-left 340px
  font-size 12px
  line-height 20px
  color #9
  margin-bottom 75px
  border-top 1px solid hsl(227deg, 13%, 82%)
  padding-top 16px
  margin-top 60px
  @media MediaSmallScreen
    padding-left 15px
