iframe
  position absolute
  top 45px
  left 0px
  bottom 0px
  width 100vw
  height calc(100vh - 45px)
  background white
@media MediaSmallScreen
  iframe
    top 0px
    height 100vh
  header
    display none
